
img{
    width: 351px;
    height: 113px;
    margin:0 640px;
}
.content{
    height: 85px;
    width: 900px;
    margin: 0 350px;
    background-color: #EEEEEE;
}
p{
    margin-left: 350px;
    margin-bottom: 0;
    font-size: 22px;
}
input[type=text] {
    margin-left: 330px;
    height: 20px;
    
}
.box{
    margin-left: 400px;
}
.card{
    margin-top: 14px;
    height: 100px;
    width: 300px;
    background-color:#7EE5DA;
    float: left;
    margin-left: 2px;
}
a{
    font-size: 20px;
    margin-left: 50px;
}
 
.cwidth{
    width: 300px;
}

.width{
    width: 200px ;

}

.cardw{
    width: 392px;
    
}

font.size{
    font-size: 20px;
}
.p{
    margin-left: 100px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.class{
    margin-left: 50px;
}
